@import "base.scss";

body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root, .App {
  width: 100%;
  height: 100%;
}

.wordlink {
  width: 100%;
  height: 100%;

  .letter-selected {
    width: 100%;
    height: 50px;
  }
}

.grid {
  $grid-size: 100px;

  @keyframes grid-enter {
    from {
      margin-bottom: 100%;
    }

    to {
      margin-bottom: 0;
    }
  }

  width: 100%;
  height: 7 * $grid-size;
  position: relative;
  overflow: hidden;
  user-select: none;

  .grid-wrapper {
    width: 5 * $grid-size;
    height: 5 * $grid-size;
    position: relative;
  }

  .letter-grid {
    position: absolute;
    box-sizing: border-box;
    width: $grid-size;
    height: $grid-size;
    padding: 10px;
    transition: .4s ease;
    animation: grid-enter .4s ease;

    .arrow {
      display: block;
      content: "";
      background-color: transparent;
      z-index: -1;
      width: 100%;
      height: 8%;
      position: absolute;
      right: 50%;
      top: 46%;
      transform-origin: 100% 50%;

      &.l, &.lu, &.u, &.ru, &.r, &.rd, &.d, &.ld {
        background-color: $css;
        transition: background .2s ease;
      }

      &.lu {
        transform: rotate(45deg);
      }
      &.u {
        transform: rotate(90deg);
      }
      &.ru {
        transform: rotate(135deg);
      }
      &.r {
        transform: rotate(180deg);
      }
      &.rd {
        transform: rotate(225deg);
      }
      &.d {
        transform: rotate(-90deg);
      }
      &.ld {
        transform: rotate(-45deg);
      }
    }

    &:after {
      content: "1";
      color: white;
      z-index: 1;
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-weight: bold;
      pointer-events: none;
    }

    $point-2: ("l", "n", "r", 't', 'u');
    $point-3: ('d', 'g');
    $point-4: ('b', 'c');
    $point-5: ('f', 'h', 'v');
    $point-6: ('k', 'w');
    $point-8: ('x', 'j');
    $point-10: ('z', 'q');

    @each $i in $point-2 {
      &.letter-#{$i}:after {
        content: "2";
      }
    }
    @each $i in $point-3 {
      &.letter-#{$i}:after {
        content: "3";
      }
    }
    @each $i in $point-4 {
      &.letter-#{$i}:after {
        content: "4";
      }
    }
    @each $i in $point-5 {
      &.letter-#{$i}:after {
        content: "5";
      }
    }
    @each $i in $point-6 {
      &.letter-#{$i}:after {
        content: "6";
      }
    }
    @each $i in $point-8 {
      &.letter-#{$i}:after {
        content: "8";
      }
    }
    @each $i in $point-10 {
      &.letter-#{$i}:after {
        content: "10";
      }
    }

    &:hover {
      :before {
        background-color: $csl;
      }
    }

    &.selected {
      :before {
        background-color: $css;
      }
    }
  }

  .letter-inner {
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    &:before {
      content: "";
      background-color: $lightgrey;
      width: $grid-size - 5px;
      height: $grid-size - 5px;
      position: absolute;
      left: 2.5px;
      top: 2.5px;
      transition: .2s ease;
      pointer-events: none;
    }

    &:after {

    }

    span {
      position: relative;
      pointer-events: none;
      z-index: 1;
    }
  }
}