@import "base.scss";

.grid {
  $grid-size: 100px;

  user-select: none;

  .letter-grid {
    position: absolute;
    box-sizing: border-box;
    width: $grid-size;
    height: $grid-size;
    padding: 10px;

    .arrow {
      display: block;
      content: "";
      background-color: transparent;
      z-index: -1;
      width: 100%;
      height: 8%;
      position: absolute;
      right: 50%;
      top: 46%;
      transform-origin: 100% 50%;

      &.l, &.lu, &.u, &.ru, &.r, &.rd, &.d, &.ld {
        background-color: $css;
        transition: background .2s ease;
      }

      &.lu {
        transform: rotate(45deg);
      }
      &.u {
        transform: rotate(90deg);
      }
      &.ru {
        transform: rotate(135deg);
      }
      &.r {
        transform: rotate(180deg);
      }
      &.rd {
        transform: rotate(225deg);
      }
      &.d {
        transform: rotate(-90deg);
      }
      &.ld {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      :before {
        background-color: $csl;
      }
    }

    &.selected {
      :before {
        background-color: $css;
      }
    }
  }

  .letter-inner {
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    &:before {
      content: "";
      background-color: $lightgrey;
      width: $grid-size - 5px;
      height: $grid-size - 5px;
      position: absolute;
      left: 2.5px;
      top: 2.5px;
      transition: .2s ease;
      pointer-events: none;
    }

    span {
      position: relative;
      pointer-events: none;
      z-index: 1;
    }
  }
}