@import "base.scss";

body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root, .App {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;

  header {
    width: 100%;
    text-align: right;
    background: $blue;
    height: 80px;
    color: white;
    font-size: 30px;
    transition: .4s ease;

    @media screen and (max-width: 510px) {
      font-size: 20px;
    }
  }

  .game-area {
    flex: 1 1 auto;
    position: relative;

    .game-area-inner {
      flex-direction: column;
    }
  }

  &.idle, &.ready {
    header {
      flex-direction: column;
      height: 100%;
    }

    .grid {
      pointer-events: none;
    }
  }

  &.idle {
    .timer {
      position: absolute;
      width: 0;
      margin: 0;
    }
  }

  &.ready {
    .timer {
      position: absolute;
      margin: 0;
      font-size: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &:before {
        content: "";
      }
    }

    .btns {
      left: 100vw;
    }

    .score {
      opacity: 0;
    }
  }

  .btn {
    color: $css;
    font-size: 20px;
    padding: 10px 20px;
  }

  .btns {
    position: relative;
    left: 0;
    transition: 1s ease;

    &.replay {
      margin-top: 50px;
    }
  }

}

.wordlink {
  .letter-selected {
    width: 500px;
    height: 100px;
    background: $css;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
    transition: .2s ease;
  }

  &.not-valid {
    .letter-selected {
      background-color: $red;
    }
    .grid .selected {
      .letter-inner:before, .l, .lu, .u, .ru, .r, .rd, .d, .ld {
        background-color: $red;
      }
    }
  }
  &.valid {
    .letter-selected {
      background-color: $green;
    }
    .grid .selected {
      .letter-inner:before, .l, .lu, .u, .ru, .r, .rd, .d, .ld {
        background-color: $green;
      }
    }
  }

  @media screen and (max-width: 510px) {

    .letter-selected {
      height: 70px;
      font-size: 25px;
      width: 80%;
    }

    .grid {
      $grid-size: 60px;

      height: 5 * $grid-size;

      .grid-wrapper {
        width: 5 * $grid-size;
        height: 5 * $grid-size;
      }

      .letter-grid {
        width: $grid-size;
        height: $grid-size;
        padding: 5px;
        font-size: 12px;

        .arrow {
          height: 4%;
          top: 48%;
        }

        &:after {
          right: 5px;
          bottom: 5px;
        }
      }

      .letter-inner {
        font-size: 30px;

        &:before {
          width: $grid-size - 5px;
          height: $grid-size - 5px;
        }
      }
    }
  }

}

.grid {
  $grid-size: 100px;

  @keyframes grid-enter {
    from {
      margin-bottom: 100%;
    }

    to {
      margin-bottom: 0;
    }
  }

  width: 100%;
  height: 5 * $grid-size;
  position: relative;
  overflow: hidden;
  user-select: none;

  .grid-wrapper {
    width: 5 * $grid-size;
    height: 5 * $grid-size;
    position: relative;
  }

  .letter-grid {
    position: absolute;
    box-sizing: border-box;
    width: $grid-size;
    height: $grid-size;
    padding: 10px;
    transition: .4s ease;
    animation: grid-enter .4s ease;
    pointer-events: none;

    .arrow {
      display: block;
      content: "";
      background-color: transparent;
      z-index: -1;
      width: 100%;
      height: 8%;
      position: absolute;
      right: 50%;
      top: 46%;
      transform-origin: 100% 50%;

      &.l, &.lu, &.u, &.ru, &.r, &.rd, &.d, &.ld {
        background-color: $css;
        transition: background .2s ease;
      }

      &.lu {
        transform: rotate(45deg);
      }
      &.u {
        transform: rotate(90deg);
      }
      &.ru {
        transform: rotate(135deg);
      }
      &.r {
        transform: rotate(180deg);
      }
      &.rd {
        transform: rotate(225deg);
      }
      &.d {
        transform: rotate(-90deg);
      }
      &.ld {
        transform: rotate(-45deg);
      }
    }

    &:after {
      content: "1";
      color: white;
      z-index: 1;
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-weight: bold;
      pointer-events: none;
    }

    $point-2: ("l", "n", "r", 't', 'u');
    $point-3: ('d', 'g');
    $point-4: ('b', 'c');
    $point-5: ('f', 'h', 'v');
    $point-6: ('k', 'w');
    $point-8: ('x', 'j');
    $point-10: ('z', 'q');

    @each $i in $point-2 {
      &.letter-#{$i}:after {
        content: "2";
      }
    }
    @each $i in $point-3 {
      &.letter-#{$i}:after {
        content: "3";
      }
    }
    @each $i in $point-4 {
      &.letter-#{$i}:after {
        content: "4";
      }
    }
    @each $i in $point-5 {
      &.letter-#{$i}:after {
        content: "5";
      }
    }
    @each $i in $point-6 {
      &.letter-#{$i}:after {
        content: "6";
      }
    }
    @each $i in $point-8 {
      &.letter-#{$i}:after {
        content: "8";
      }
    }
    @each $i in $point-10 {
      &.letter-#{$i}:after {
        content: "10";
      }
    }

    &.hover {
      :before {
        background-color: $csl;
      }
    }

    &.selected {
      :before {
        background-color: $css;
      }
    }
  }

  .letter-inner {
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    &:before {
      content: "";
      background-color: $lightgrey;
      width: $grid-size - 5px;
      height: $grid-size - 5px;
      position: absolute;
      left: 2.5px;
      top: 2.5px;
      transition: .2s ease;
      pointer-events: none;
    }

    span {
      position: relative;
      pointer-events: none;
      z-index: 1;
    }
  }
}

.score {

  @keyframes score-fade-in-1 {
    from {
      bottom: -30px;
      opacity: 1;
    }

    to {
      bottom: 0px;
      opacity: 0;
    }
  }
  @keyframes score-fade-in-2 {
    from {
      bottom: -30px;
      opacity: 1;
    }

    to {
      bottom: 0px;
      opacity: 0;
    }
  }

  position: relative;

  &:before {
    content: "SCORE: ";
  }

  .difference-1 {
    animation: score-fade-in-1 2s ease;
  }
  .difference-2 {
    animation: score-fade-in-2 2s ease;
  }

  .difference {
    position: absolute;
    color: $amber;
    right: 0;
    bottom: 0;
    opacity: 0;

    &:before {
      content: "+";

    }
  }
}

.timer {
  margin-right: 50px;
  transition: .4s ease;
  overflow: hidden;

  &:before {
    content: 'TIME:\00a0';
  }
}
