@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://fonts.googleapis.com/earlyaccess/notosanssc.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-in-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out-2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
*:not(i) {
  font-family: "Lato", "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }

input, textarea {
  border: none;
  resize: none;
  font-size: 30px;
  padding: 20px; }
  input:active, input:focus, textarea:active, textarea:focus {
    outline: none; }
  input:disabled, textarea:disabled {
    color: black;
    background-color: inherit; }

.vertical-align .vertical-align-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.shadow {
  box-shadow: 3px 2px 9px grey; }

.shadow-light {
  box-shadow: 1px 1px 4px grey; }

.normal, .normal input {
  background: white;
  font-size: 16px;
  display: block;
  height: 20px;
  padding: 0;
  position: relative; }
  .normal.underlined, .normal.underlined input, .normal input.underlined, .normal input.underlined input {
    border-bottom: 1px solid grey !important;
    transition: border-bottom .4s ease; }
    .normal.underlined.red, .normal.underlined input.red, .normal input.underlined.red, .normal input.underlined input.red {
      border-bottom: 1px solid #F44336 !important; }
    .normal.underlined:focus, .normal.underlined:active, .normal.underlined input:focus, .normal.underlined input:active, .normal input.underlined:focus, .normal input.underlined:active, .normal input.underlined input:focus, .normal input.underlined input:active {
      border-bottom: 1px solid #448AFF !important; }
  .normal.dark, .normal input.dark {
    background: inherit;
    color: white; }
  .normal.disabled, .normal:disabled, .normal input.disabled, .normal input:disabled {
    border-bottom-color: transparent !important; }

.hidden {
  display: none !important; }

.transparent {
  opacity: 0;
  pointer-events: none !important; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }

.flex-filler {
  flex: 1 1 auto; }

.flex-last-item {
  width: 100%; }

.flex-extend-inner-wrapper, .flex-inner-extend {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

img.center {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.btn, .toggle {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 60px;
  font-weight: lighter;
  text-align: center;
  transition: .4s ease;
  user-select: none;
  cursor: pointer;
  border-radius: 1px;
  background: white; }
  .btn[disabled], .btn.disabled, .toggle[disabled], .toggle.disabled {
    pointer-events: none;
    opacity: .5; }
  .btn.icon, .toggle.icon {
    pointer-events: none; }
  .btn.dark, .toggle.dark {
    background: #212121;
    color: white; }
  .btn.accent, .toggle.accent {
    flex: 0 0 auto;
    color: white;
    background: #448AFF; }
    .btn.accent:hover:not(:active), .toggle.accent:hover:not(:active) {
      background: #4678ff;
      box-shadow: 0px 1px 6px black;
      color: white; }
    .btn.accent:active, .toggle.accent:active {
      color: white; }
  .btn.text, .toggle.text {
    width: auto;
    display: flex; }
    .btn.text .icon-wrapper, .toggle.text .icon-wrapper {
      flex: 0 0 60px; }
    .btn.text .text-wrapper, .toggle.text .text-wrapper {
      display: block;
      flex: 1 1 auto;
      text-align: left;
      pointer-events: none;
      position: relative;
      white-space: nowrap; }
  .btn.loading, .toggle.loading {
    opacity: .8; }
    .btn.loading .loading-icon .material-icons, .toggle.loading .loading-icon .material-icons {
      flex: 1 1 auto;
      animation: spin 1s linear infinite; }
  .btn.narrow, .toggle.narrow {
    width: 36px; }
  .btn.wide, .toggle.wide {
    width: 180px; }
  .btn.wider, .toggle.wider {
    width: 240px; }
  .btn:after, .toggle:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: background .4s ease; }
  .btn.underlined:after, .toggle.underlined:after {
    background: black; }
  .btn.underlined.active:after, .btn.underlined:hover:after, .toggle.underlined.active:after, .toggle.underlined:hover:after {
    background: #448AFF; }
  .btn:hover .tooltip, .toggle:hover .tooltip {
    opacity: 1;
    bottom: -32px; }
  .btn.active, .btn:hover, .toggle.active, .toggle:hover {
    color: #448AFF; }
  .btn:not(.underlined):hover .add-circle, .toggle:not(.underlined):hover .add-circle {
    opacity: 1; }
  .btn:not(.underlined):hover .original, .toggle:not(.underlined):hover .original {
    opacity: 0; }
  .btn:not(.accent):hover, .btn:not(.accent):active, .toggle:not(.accent):hover, .toggle:not(.accent):active {
    color: #448AFF; }
    .btn:not(.accent):hover span, .btn:not(.accent):active span, .toggle:not(.accent):hover span, .toggle:not(.accent):active span {
      opacity: 1; }
  .btn.border, .toggle.border {
    border: 1px solid #212121; }
  .btn .icon-wrapper, .btn .text-wrapper, .toggle .icon-wrapper, .toggle .text-wrapper {
    height: 100%; }
  .btn .text-wrapper, .toggle .text-wrapper {
    display: none; }
  .btn .loading-icon, .toggle .loading-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: inherit;
    transition: .4s ease; }
  .btn .tooltip, .toggle .tooltip {
    z-index: 999999999;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: -20px;
    transition: opacity .4s ease, bottom .4s ease;
    text-transform: none;
    width: 100%;
    height: 32px; }
    .btn .tooltip .tooltip-text, .toggle .tooltip .tooltip-text {
      background: #212121;
      color: white;
      padding: 8px 10px;
      border-radius: 2px;
      font-size: 12px;
      white-space: nowrap; }

.toggle {
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .toggle .first, .toggle .second {
    transition: opacity .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .toggle.accent {
    width: 120px; }
  .toggle .first {
    opacity: 1; }
  .toggle .second {
    opacity: 0; }
  .toggle.change-hover:hover.show-second .first, .toggle:not(.change-hover).show-second .first {
    opacity: 0; }
  .toggle.change-hover:hover.show-second .second, .toggle:not(.change-hover).show-second .second {
    opacity: 1; }
  .toggle.loading {
    opacity: .8;
    pointer-events: none; }
    .toggle.loading .first, .toggle.loading .second {
      opacity: 0; }
    .toggle.loading .loading-icon {
      opacity: 1; }

.btn-breaker {
  margin: 10px 10px;
  width: 1px;
  background: lightgrey; }

.btns {
  justify-content: center;
  display: flex; }
  .btns .text-wrapper {
    flex: none;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 60px; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.block {
  background: transparent;
  position: fixed;
  z-index: 900000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; }

.max-z-index {
  z-index: 999999999;
  position: relative; }

.z-index-inherit {
  z-index: inherit;
  position: relative; }

.no-width {
  width: 0 !important; }

.bg-grey {
  background: #eeeced; }

.title-dark {
  padding: 0 20px;
  background: #212121;
  color: white;
  margin-right: 5px; }

.form {
  width: 100%;
  padding: 15px 0 20px;
  z-index: 9999;
  left: 0;
  background: white; }
  .form .form-wrapper {
    width: 100%;
    max-width: 900px;
    margin: auto; }
  .form .form-row {
    display: flex;
    padding: 0 50px;
    margin-top: 5px; }
  .form .form-title {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 20px 50px 25px; }

*:not(i) {
  font-family: "Lato", sans-serif; }

body, html {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#root, .App, .game-select, .game-list {
  width: 100%;
  height: 100%; }

@keyframes fade-in-up {
  0% {
    top: 0;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
.letter-enter {
  transform: scale(0.3);
  opacity: 0;
  max-width: 0; }
  .letter-enter.letter-enter-active {
    opacity: 1;
    transform: scale(1);
    max-width: 30px;
    transition: .2s ease; }

.letter-exit {
  transform: scale(1);
  opacity: 1;
  max-width: 30px; }
  .letter-exit.letter-exit-active {
    transform: scale(0.5);
    opacity: 0;
    max-width: 0;
    transition: .2s ease; }

.btn.top {
  position: absolute;
  top: 0;
  color: white;
  background: transparent;
  z-index: 5;
  height: 80px; }
  .btn.top.top-left {
    opacity: 0; }
  .btn.top.top-right {
    right: 0; }
  .btn.top.back {
    pointer-events: none; }
    .in-game .btn.top.back {
      opacity: 1;
      pointer-events: auto; }
  .in-game .btn.top.full-screen {
    opacity: 0;
    pointer-events: none; }
  .btn.top:hover {
    color: white;
    background: rgba(0, 0, 0, 0.1); }

.full-screen-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  background: #212121; }

.screen-size-warning {
  box-sizing: border-box;
  color: #e8e8e8;
  padding: 20px; }
  .screen-size-warning .title {
    font-size: 25px; }
  .screen-size-warning .diagnosis .failed {
    color: #F44336; }

.game-select {
  background: linear-gradient(to bottom right, #448AFF 0%, #4678ff 100%); }
  .game-select .game-list, .game-select .game-real {
    position: absolute;
    top: 0;
    transition: .2s ease;
    height: 100%;
    width: 100%; }
  .game-select .game-real {
    left: 100vw; }
  .game-select .game-list {
    position: relative;
    flex-direction: column;
    right: 0; }
    .game-select .game-list .games-wrapper {
      width: 100%;
      padding: 0 10%;
      box-shadow: inset 0 0 20px grey;
      background: #fff; }
    .game-select .game-list .title, .game-select .game-list .game, .game-select .game-list .category {
      position: relative;
      width: 450px;
      height: 80px;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 30px;
      margin: 10px auto;
      transition: .4s ease; }
    .game-select .game-list .category {
      border: none;
      color: #424242;
      font-weight: 900;
      height: 60px;
      display: flex;
      padding: 10px 0; }
      .game-select .game-list .category .category-inner, .game-select .game-list .category .icon-wrapper {
        align-self: center; }
      .game-select .game-list .category .icon-wrapper {
        margin: 0 15px 0 10px; }
      .game-select .game-list .category .material-icons {
        display: block; }
    .game-select .game-list .title {
      border: none;
      font-size: 35px; }
      .game-select .game-list .title .author {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 5px;
        font-size: 10px; }
        .game-select .game-list .title .author:visited {
          color: white; }
    .game-select .game-list .game {
      cursor: pointer;
      color: black;
      box-shadow: 2px 2px 10px lightgrey;
      text-transform: none; }
      .game-select .game-list .game:hover {
        background: white;
        color: #448AFF; }
      .game-select .game-list .game:before {
        content: "";
        background: #448AFF;
        position: absolute;
        left: 0;
        top: 0;
        width: 8px;
        height: 100%; }
    @media screen and (max-width: 510px) {
      .game-select .game-list .title, .game-select .game-list .game, .game-select .game-list .category {
        box-sizing: border-box;
        width: 80vw;
        font-size: 18px;
        margin: 5px auto; }
      .game-select .game-list .title {
        font-size: 35px; }
      .game-select .game-list .game {
        height: 60px;
        box-shadow: 1px 1px 5px lightgrey; }
      .game-select .game-list .material-icons {
        font-size: 20px; } }
  .game-select.in-game .game-real {
    left: 0; }
  .game-select.in-game .game-list {
    right: 100vw; }

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none; }
@keyframes wrong {
  50% {
    background: #F44336; } }
@keyframes correct {
  50% {
    background: #4CAF50; } }
@keyframes repeated {
  50% {
    background: #FFC107; } }
@keyframes amber-bg {
  20%, 80% {
    background: #FFC107; } }
@keyframes shaking {
  10%, 40%, 70% {
    transform: translateX(5px);
    opacity: 1; }
  25%, 55%, 85% {
    transform: translateX(-5px);
    opacity: 1; }
  100% {
    opacity: 0; } }
  .game header {
    width: 100%;
    text-align: right;
    background: #448AFF;
    height: 80px;
    color: white;
    font-size: 30px;
    transition: .4s ease;
    box-shadow: 0 0 20px grey;
    z-index: 1; }
    @media screen and (max-width: 510px) {
      .game header {
        font-size: 20px; } }
  .game .game-intro {
    max-width: 700px;
    text-align: left;
    box-sizing: border-box;
    padding: 20px; }
    @media screen and (max-width: 510px) {
      .game .game-intro {
        padding: 20px 40px 20px 60px; } }
  .game .game-area {
    overflow: hidden;
    flex: 1 1 auto;
    position: relative;
    background: white; }
    .game .game-area .game-area-inner {
      flex-direction: column;
      padding-bottom: 20px;
      box-sizing: border-box; }
  .game.idle header, .game.ready header {
    flex-direction: column;
    height: 100%; }
  .game.idle .grid, .game.ready .grid {
    pointer-events: none; }
  .game.idle .timer {
    position: absolute;
    width: 0;
    margin: 0; }
  .game.ready .timer {
    position: absolute;
    margin: 0;
    font-size: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .game.ready .timer:before {
      content: ""; }
  .game.ready .btns {
    left: 100vw; }
  .game.ready .score {
    opacity: 0; }
  .game .btn {
    background: #fff;
    color: #00BCD4;
    font-size: 20px;
    padding: 10px 20px; }
  .game .btns {
    position: relative;
    left: 0;
    transition: 1s ease; }
    .game .btns.replay {
      margin-top: 50px; }
  .letter-selected {
    width: 500px;
    height: 100px;
    background: #00BCD4;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
    transition: .2s ease;
    position: relative; }
    .wrong .letter-selected {
      animation: wrong .3s ease; }
    .repeated .letter-selected {
      animation: repeated .3s ease; }
    .shaking .letter-selected {
      animation: amber-bg 2s ease; }
      .shaking .letter-selected .letter {
        animation: shaking 2s ease; }
    .correct .letter-selected {
      animation: correct .3s ease; }
    .letter-selected .letter {
      display: inline-block;
      overflow: hidden; }

.wordlink.not-valid .letter-selected {
  background-color: #F44336; }
.wordlink.not-valid .grid .selected .letter-inner:before, .wordlink.not-valid .grid .selected .l, .wordlink.not-valid .grid .selected .lu, .wordlink.not-valid .grid .selected .u, .wordlink.not-valid .grid .selected .ru, .wordlink.not-valid .grid .selected .r, .wordlink.not-valid .grid .selected .rd, .wordlink.not-valid .grid .selected .d, .wordlink.not-valid .grid .selected .ld {
  background-color: #F44336; }
.wordlink.valid .letter-selected {
  background-color: #4CAF50; }
.wordlink.valid .grid .selected .letter-inner:before, .wordlink.valid .grid .selected .l, .wordlink.valid .grid .selected .lu, .wordlink.valid .grid .selected .u, .wordlink.valid .grid .selected .ru, .wordlink.valid .grid .selected .r, .wordlink.valid .grid .selected .rd, .wordlink.valid .grid .selected .d, .wordlink.valid .grid .selected .ld {
  background-color: #4CAF50; }
@media screen and (max-width: 510px) {
  .wordlink .letter-selected {
    height: 70px;
    font-size: 25px;
    width: 80%; }
  .wordlink .grid {
    height: 300px; }
    .wordlink .grid .grid-wrapper {
      width: 300px;
      height: 300px; }
    .wordlink .grid .letter-grid {
      width: 60px;
      height: 60px;
      font-size: 12px;
      padding: 0; }
      .wordlink .grid .letter-grid .arrow {
        height: 4%;
        top: 48%; }
      .wordlink .grid .letter-grid:after {
        right: 5px;
        bottom: 5px; }
    .wordlink .grid .letter-inner {
      font-size: 30px; }
      .wordlink .grid .letter-inner:before {
        width: 55px;
        height: 55px; } }

.grid {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  user-select: none; }
@keyframes grid-enter {
  from {
    margin-bottom: 100%; }
  to {
    margin-bottom: 0; } }
  .letter-prompt .grid, .scrabble-marathon .grid, .word-chain .grid {
    height: 300px;
    overflow: visible; }
    .letter-prompt .grid .grid-wrapper, .scrabble-marathon .grid .grid-wrapper, .word-chain .grid .grid-wrapper {
      width: 300px;
      height: 300px;
      z-index: 5; }
    .letter-prompt .grid .letter-grid, .scrabble-marathon .grid .letter-grid, .word-chain .grid .letter-grid {
      pointer-events: auto;
      animation: none;
      transition: top 0.2s cubic-bezier(0.18, 0.88, 0.32, 1.28), left 0.2s cubic-bezier(0.18, 0.88, 0.32, 1.28), opacity 0.4s ease;
      top: 0;
      left: 0; }
      .letter-prompt .grid .letter-grid.letter-0, .scrabble-marathon .grid .letter-grid.letter-0, .word-chain .grid .letter-grid.letter-0 {
        opacity: 0;
        pointer-events: none; }
        .letter-prompt .grid .letter-grid.letter-0:after, .scrabble-marathon .grid .letter-grid.letter-0:after, .word-chain .grid .letter-grid.letter-0:after {
          content: "0"; }
        .letter-prompt .grid .letter-grid.letter-0.letter-in-use, .scrabble-marathon .grid .letter-grid.letter-0.letter-in-use, .word-chain .grid .letter-grid.letter-0.letter-in-use {
          opacity: .2; }
      .letter-prompt .grid .letter-grid.no-badge:after, .scrabble-marathon .grid .letter-grid.no-badge:after, .word-chain .grid .letter-grid.no-badge:after {
        display: none; }
    .letter-prompt .grid .letter-position-3-3-0, .scrabble-marathon .grid .letter-position-3-3-0, .word-chain .grid .letter-position-3-3-0 {
      top: 0px;
      left: 0px; }
    .letter-prompt .grid .letter-position-3-3-1, .scrabble-marathon .grid .letter-position-3-3-1, .word-chain .grid .letter-position-3-3-1 {
      top: 0px;
      left: 100px; }
    .letter-prompt .grid .letter-position-3-3-2, .scrabble-marathon .grid .letter-position-3-3-2, .word-chain .grid .letter-position-3-3-2 {
      top: 0px;
      left: 200px; }
    .letter-prompt .grid .letter-position-3-3-3, .scrabble-marathon .grid .letter-position-3-3-3, .word-chain .grid .letter-position-3-3-3 {
      top: 100px;
      left: 0px; }
    .letter-prompt .grid .letter-position-3-3-4, .scrabble-marathon .grid .letter-position-3-3-4, .word-chain .grid .letter-position-3-3-4 {
      top: 100px;
      left: 100px; }
    .letter-prompt .grid .letter-position-3-3-5, .scrabble-marathon .grid .letter-position-3-3-5, .word-chain .grid .letter-position-3-3-5 {
      top: 100px;
      left: 200px; }
    .letter-prompt .grid .letter-position-3-3-6, .scrabble-marathon .grid .letter-position-3-3-6, .word-chain .grid .letter-position-3-3-6 {
      top: 200px;
      left: 0px; }
    .letter-prompt .grid .letter-position-3-3-7, .scrabble-marathon .grid .letter-position-3-3-7, .word-chain .grid .letter-position-3-3-7 {
      top: 200px;
      left: 100px; }
    .letter-prompt .grid .letter-position-3-3-8, .scrabble-marathon .grid .letter-position-3-3-8, .word-chain .grid .letter-position-3-3-8 {
      top: 200px;
      left: 200px; }
    .letter-prompt .grid .letter-inner, .scrabble-marathon .grid .letter-inner, .word-chain .grid .letter-inner {
      color: white; }
      .letter-prompt .grid .letter-inner:before, .scrabble-marathon .grid .letter-inner:before, .word-chain .grid .letter-inner:before {
        background-color: #212121; }
  .grid .grid-wrapper {
    width: 500px;
    height: 500px;
    position: relative; }
  .grid .letter-grid {
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    transition: .4s ease;
    animation: grid-enter .4s ease;
    pointer-events: none; }
    .grid .letter-grid .arrow {
      display: block;
      content: "";
      background-color: transparent;
      z-index: 0;
      width: 100%;
      height: 8%;
      position: absolute;
      right: 50%;
      top: 46%;
      transform-origin: 100% 50%; }
      .grid .letter-grid .arrow.l, .grid .letter-grid .arrow.lu, .grid .letter-grid .arrow.u, .grid .letter-grid .arrow.ru, .grid .letter-grid .arrow.r, .grid .letter-grid .arrow.rd, .grid .letter-grid .arrow.d, .grid .letter-grid .arrow.ld {
        background: #00BCD4;
        transition: background .2s ease; }
      .grid .letter-grid .arrow.lu {
        transform: rotate(45deg); }
      .grid .letter-grid .arrow.u {
        transform: rotate(90deg); }
      .grid .letter-grid .arrow.ru {
        transform: rotate(135deg); }
      .grid .letter-grid .arrow.r {
        transform: rotate(180deg); }
      .grid .letter-grid .arrow.rd {
        transform: rotate(225deg); }
      .grid .letter-grid .arrow.d {
        transform: rotate(-90deg); }
      .grid .letter-grid .arrow.ld {
        transform: rotate(-45deg); }
    .grid .letter-grid:after {
      content: "1";
      color: white;
      z-index: 1;
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-weight: bold;
      pointer-events: none;
      animation: test .4s ease; }
@keyframes test {
  from {
    bottom: 50px;
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes test-2 {
  from {
    bottom: 50px;
    opacity: 0; }
  to {
    opacity: 1; } }
    .grid .letter-grid.letter-l:after {
      content: "2";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-n:after {
      content: "2";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-r:after {
      content: "2";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-t:after {
      content: "2";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-u:after {
      content: "2";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-2:after {
      content: "2";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-d:after {
      content: "3"; }
    .grid .letter-grid.letter-g:after {
      content: "3"; }
    .grid .letter-grid.letter-3:after {
      content: "3"; }
    .grid .letter-grid.letter-b:after {
      content: "4";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-c:after {
      content: "4";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-4:after {
      content: "4";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-f:after {
      content: "5"; }
    .grid .letter-grid.letter-h:after {
      content: "5"; }
    .grid .letter-grid.letter-v:after {
      content: "5"; }
    .grid .letter-grid.letter-5:after {
      content: "5"; }
    .grid .letter-grid.letter-k:after {
      content: "6";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-w:after {
      content: "6";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-6:after {
      content: "6";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-7:after {
      content: "7"; }
    .grid .letter-grid.letter-x:after {
      content: "8";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-j:after {
      content: "8";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-8:after {
      content: "8";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-9:after {
      content: "9"; }
    .grid .letter-grid.letter-z:after {
      content: "10";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-q:after {
      content: "10";
      animation: test-2 .4s ease; }
    .grid .letter-grid.letter-10:after {
      content: "10";
      animation: test-2 .4s ease; }
    .grid .letter-grid.hover :before, .grid .letter-grid:active :before {
      transform: scale(0.95);
      background-color: #80DEEA; }
    .grid .letter-grid.selected :before {
      background-color: #00BCD4; }
  .grid .letter-inner {
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    position: relative;
    z-index: 1; }
    .grid .letter-inner:before {
      content: "";
      background-color: #e8e8e8;
      width: 95px;
      height: 95px;
      position: absolute;
      left: 2.5px;
      top: 2.5px;
      transition: .2s ease;
      pointer-events: none; }
    .grid .letter-inner span {
      position: relative;
      pointer-events: none;
      z-index: 1; }

.score {
  position: relative; }
@keyframes fade-in-up-1 {
  from {
    bottom: -30px;
    opacity: 1; }
  to {
    bottom: 0px;
    opacity: 0; } }
@keyframes fade-in-up-2 {
  from {
    bottom: -30px;
    opacity: 1; }
  to {
    bottom: 0px;
    opacity: 0; } }
  .score:before {
    content: "SCORE: "; }
  .score .difference-1 {
    animation: fade-in-up-1 2s ease; }
  .score .difference-2 {
    animation: fade-in-up-2 2s ease; }
  .score .difference {
    position: absolute;
    color: #FFC107;
    right: 0;
    bottom: 0;
    opacity: 0; }
    .score .difference:before {
      content: "+"; }

.timer {
  margin-right: 50px;
  transition: .4s ease;
  overflow: hidden; }
  .timer:before {
    content: 'TIME:\00a0'; }

.letter-prompt .game-area-inner, .scrabble-marathon .game-area-inner, .word-chain .game-area-inner {
  flex-direction: column; }
.letter-prompt header .prompt, .scrabble-marathon header .prompt, .word-chain header .prompt {
  text-transform: uppercase; }
@keyframes word-appear-delay-half-s {
  0%, 71.4% {
    transform: scale(0); } }
@keyframes word-appear-delay-1s {
  0%, 83.3% {
    transform: scale(0); } }
.letter-prompt header .word, .scrabble-marathon header .word, .word-chain header .word {
  position: absolute;
  top: 50px;
  font-size: 40px;
  animation: word-appear-delay-half-s 0.7s cubic-bezier(0.18, 0.88, 0.65, 1.5); }
.letter-prompt header .word-list, .scrabble-marathon header .word-list, .word-chain header .word-list {
  max-width: 80vw;
  margin-top: 50px;
  font-size: 20px;
  flex: none;
  font-weight: lighter;
  animation: word-appear-delay-1s 1.2s cubic-bezier(0.18, 0.88, 0.65, 1.5); }
.letter-prompt .word-list, .scrabble-marathon .word-list, .word-chain .word-list {
  height: auto;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 510px;
  text-align: center;
  flex-wrap: wrap; }
@keyframes word-appear {
  from {
    transform: scale(0.3); } }
  .letter-prompt .word-list .word, .scrabble-marathon .word-list .word, .word-chain .word-list .word {
    padding: 0 20px;
    display: inline-block;
    animation: word-appear 0.2s cubic-bezier(0.18, 0.88, 0.65, 1.5); }
    .letter-prompt .word-list .word.empty, .scrabble-marathon .word-list .word.empty, .word-chain .word-list .word.empty {
      letter-spacing: 5px;
      animation: none; }
@media screen and (max-width: 510px) {
  .letter-prompt .word-list, .scrabble-marathon .word-list, .word-chain .word-list {
    font-size: 25px; }
  .letter-prompt .letter-selected, .scrabble-marathon .letter-selected, .word-chain .letter-selected {
    height: 70px;
    font-size: 25px;
    width: 80%; }
  .letter-prompt .scrabble-marathon .grid, .letter-prompt .word-chain .grid, .scrabble-marathon .scrabble-marathon .grid, .scrabble-marathon .word-chain .grid, .word-chain .scrabble-marathon .grid, .word-chain .word-chain .grid {
    height: 40px; }
    .letter-prompt .scrabble-marathon .grid .grid-wrapper, .letter-prompt .word-chain .grid .grid-wrapper, .scrabble-marathon .scrabble-marathon .grid .grid-wrapper, .scrabble-marathon .word-chain .grid .grid-wrapper, .word-chain .scrabble-marathon .grid .grid-wrapper, .word-chain .word-chain .grid .grid-wrapper {
      width: 500px;
      height: 40px;
      display: flex;
      justify-content: center;
      transition: .4s ease; }
      .letter-prompt .scrabble-marathon .grid .grid-wrapper.level-0, .letter-prompt .word-chain .grid .grid-wrapper.level-0, .scrabble-marathon .scrabble-marathon .grid .grid-wrapper.level-0, .scrabble-marathon .word-chain .grid .grid-wrapper.level-0, .word-chain .scrabble-marathon .grid .grid-wrapper.level-0, .word-chain .word-chain .grid .grid-wrapper.level-0 {
        width: 160px; }
      .letter-prompt .scrabble-marathon .grid .grid-wrapper.level-1, .letter-prompt .word-chain .grid .grid-wrapper.level-1, .scrabble-marathon .scrabble-marathon .grid .grid-wrapper.level-1, .scrabble-marathon .word-chain .grid .grid-wrapper.level-1, .word-chain .scrabble-marathon .grid .grid-wrapper.level-1, .word-chain .word-chain .grid .grid-wrapper.level-1 {
        width: 200px; }
      .letter-prompt .scrabble-marathon .grid .grid-wrapper.level-2, .letter-prompt .word-chain .grid .grid-wrapper.level-2, .scrabble-marathon .scrabble-marathon .grid .grid-wrapper.level-2, .scrabble-marathon .word-chain .grid .grid-wrapper.level-2, .word-chain .scrabble-marathon .grid .grid-wrapper.level-2, .word-chain .word-chain .grid .grid-wrapper.level-2 {
        width: 240px; }
      .letter-prompt .scrabble-marathon .grid .grid-wrapper.level-3, .letter-prompt .word-chain .grid .grid-wrapper.level-3, .scrabble-marathon .scrabble-marathon .grid .grid-wrapper.level-3, .scrabble-marathon .word-chain .grid .grid-wrapper.level-3, .word-chain .scrabble-marathon .grid .grid-wrapper.level-3, .word-chain .word-chain .grid .grid-wrapper.level-3 {
        width: 280px; }
      .letter-prompt .scrabble-marathon .grid .grid-wrapper.level-4, .letter-prompt .word-chain .grid .grid-wrapper.level-4, .scrabble-marathon .scrabble-marathon .grid .grid-wrapper.level-4, .scrabble-marathon .word-chain .grid .grid-wrapper.level-4, .word-chain .scrabble-marathon .grid .grid-wrapper.level-4, .word-chain .word-chain .grid .grid-wrapper.level-4 {
        width: 320px; }
    .letter-prompt .scrabble-marathon .grid .letter-grid, .letter-prompt .word-chain .grid .letter-grid, .scrabble-marathon .scrabble-marathon .grid .letter-grid, .scrabble-marathon .word-chain .grid .letter-grid, .word-chain .scrabble-marathon .grid .letter-grid, .word-chain .word-chain .grid .letter-grid {
      height: 40px;
      width: 40px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-in-use, .letter-prompt .word-chain .grid .letter-grid.letter-in-use, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-in-use, .scrabble-marathon .word-chain .grid .letter-grid.letter-in-use, .word-chain .scrabble-marathon .grid .letter-grid.letter-in-use, .word-chain .word-chain .grid .letter-grid.letter-in-use {
        opacity: .2;
        pointer-events: none; }
      .letter-prompt .scrabble-marathon .grid .letter-grid .letter-inner, .letter-prompt .word-chain .grid .letter-grid .letter-inner, .scrabble-marathon .scrabble-marathon .grid .letter-grid .letter-inner, .scrabble-marathon .word-chain .grid .letter-grid .letter-inner, .word-chain .scrabble-marathon .grid .letter-grid .letter-inner, .word-chain .word-chain .grid .letter-grid .letter-inner {
        font-size: 30px; }
        .letter-prompt .scrabble-marathon .grid .letter-grid .letter-inner:before, .letter-prompt .word-chain .grid .letter-grid .letter-inner:before, .scrabble-marathon .scrabble-marathon .grid .letter-grid .letter-inner:before, .scrabble-marathon .word-chain .grid .letter-grid .letter-inner:before, .word-chain .scrabble-marathon .grid .letter-grid .letter-inner:before, .word-chain .word-chain .grid .letter-grid .letter-inner:before {
          width: 35px;
          height: 35px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-0, .letter-prompt .word-chain .grid .letter-grid.letter-pos-0, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-0, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-0, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-0, .word-chain .word-chain .grid .letter-grid.letter-pos-0 {
        top: 0;
        left: 0px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-1, .letter-prompt .word-chain .grid .letter-grid.letter-pos-1, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-1, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-1, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-1, .word-chain .word-chain .grid .letter-grid.letter-pos-1 {
        top: 0;
        left: 40px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-2, .letter-prompt .word-chain .grid .letter-grid.letter-pos-2, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-2, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-2, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-2, .word-chain .word-chain .grid .letter-grid.letter-pos-2 {
        top: 0;
        left: 80px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-3, .letter-prompt .word-chain .grid .letter-grid.letter-pos-3, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-3, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-3, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-3, .word-chain .word-chain .grid .letter-grid.letter-pos-3 {
        top: 0;
        left: 120px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-4, .letter-prompt .word-chain .grid .letter-grid.letter-pos-4, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-4, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-4, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-4, .word-chain .word-chain .grid .letter-grid.letter-pos-4 {
        top: 0;
        left: 160px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-5, .letter-prompt .word-chain .grid .letter-grid.letter-pos-5, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-5, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-5, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-5, .word-chain .word-chain .grid .letter-grid.letter-pos-5 {
        top: 0;
        left: 200px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-6, .letter-prompt .word-chain .grid .letter-grid.letter-pos-6, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-6, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-6, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-6, .word-chain .word-chain .grid .letter-grid.letter-pos-6 {
        top: 0;
        left: 240px; }
      .letter-prompt .scrabble-marathon .grid .letter-grid.letter-pos-7, .letter-prompt .word-chain .grid .letter-grid.letter-pos-7, .scrabble-marathon .scrabble-marathon .grid .letter-grid.letter-pos-7, .scrabble-marathon .word-chain .grid .letter-grid.letter-pos-7, .word-chain .scrabble-marathon .grid .letter-grid.letter-pos-7, .word-chain .word-chain .grid .letter-grid.letter-pos-7 {
        top: 0;
        left: 280px; }
  .letter-prompt .grid, .scrabble-marathon .grid, .word-chain .grid {
    height: 180px; }
    .letter-prompt .grid .grid-wrapper, .scrabble-marathon .grid .grid-wrapper, .word-chain .grid .grid-wrapper {
      width: 180px;
      height: 180px; }
    .letter-prompt .grid .letter-grid, .scrabble-marathon .grid .letter-grid, .word-chain .grid .letter-grid {
      width: 60px;
      height: 60px;
      font-size: 12px; }
      .letter-prompt .grid .letter-grid .arrow, .scrabble-marathon .grid .letter-grid .arrow, .word-chain .grid .letter-grid .arrow {
        height: 4%;
        top: 48%; }
      .letter-prompt .grid .letter-grid:after, .scrabble-marathon .grid .letter-grid:after, .word-chain .grid .letter-grid:after {
        right: 5px;
        bottom: 5px; }
    .letter-prompt .grid .letter-position-3-3-0, .scrabble-marathon .grid .letter-position-3-3-0, .word-chain .grid .letter-position-3-3-0 {
      top: 0px;
      left: 0px; }
    .letter-prompt .grid .letter-position-3-3-1, .scrabble-marathon .grid .letter-position-3-3-1, .word-chain .grid .letter-position-3-3-1 {
      top: 0px;
      left: 60px; }
    .letter-prompt .grid .letter-position-3-3-2, .scrabble-marathon .grid .letter-position-3-3-2, .word-chain .grid .letter-position-3-3-2 {
      top: 0px;
      left: 120px; }
    .letter-prompt .grid .letter-position-3-3-3, .scrabble-marathon .grid .letter-position-3-3-3, .word-chain .grid .letter-position-3-3-3 {
      top: 60px;
      left: 0px; }
    .letter-prompt .grid .letter-position-3-3-4, .scrabble-marathon .grid .letter-position-3-3-4, .word-chain .grid .letter-position-3-3-4 {
      top: 60px;
      left: 60px; }
    .letter-prompt .grid .letter-position-3-3-5, .scrabble-marathon .grid .letter-position-3-3-5, .word-chain .grid .letter-position-3-3-5 {
      top: 60px;
      left: 120px; }
    .letter-prompt .grid .letter-position-3-3-6, .scrabble-marathon .grid .letter-position-3-3-6, .word-chain .grid .letter-position-3-3-6 {
      top: 120px;
      left: 0px; }
    .letter-prompt .grid .letter-position-3-3-7, .scrabble-marathon .grid .letter-position-3-3-7, .word-chain .grid .letter-position-3-3-7 {
      top: 120px;
      left: 60px; }
    .letter-prompt .grid .letter-position-3-3-8, .scrabble-marathon .grid .letter-position-3-3-8, .word-chain .grid .letter-position-3-3-8 {
      top: 120px;
      left: 120px; }
    .letter-prompt .grid .letter-inner, .scrabble-marathon .grid .letter-inner, .word-chain .grid .letter-inner {
      font-size: 30px; }
      .letter-prompt .grid .letter-inner:before, .scrabble-marathon .grid .letter-inner:before, .word-chain .grid .letter-inner:before {
        width: 55px;
        height: 55px; } }

.flex-bubble-wrap {
  flex: 1 1 auto; }

.scrabble-marathon .grid, .word-chain .grid {
  height: 70px; }
  .scrabble-marathon .grid .grid-wrapper, .word-chain .grid .grid-wrapper {
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    transition: .4s ease; }
    .scrabble-marathon .grid .grid-wrapper.level-0, .word-chain .grid .grid-wrapper.level-0 {
      width: 280px; }
    .scrabble-marathon .grid .grid-wrapper.level-1, .word-chain .grid .grid-wrapper.level-1 {
      width: 350px; }
    .scrabble-marathon .grid .grid-wrapper.level-2, .word-chain .grid .grid-wrapper.level-2 {
      width: 420px; }
    .scrabble-marathon .grid .grid-wrapper.level-3, .word-chain .grid .grid-wrapper.level-3 {
      width: 490px; }
    .scrabble-marathon .grid .grid-wrapper.level-4, .word-chain .grid .grid-wrapper.level-4 {
      width: 560px; }
  .scrabble-marathon .grid .letter-grid, .word-chain .grid .letter-grid {
    height: 70px;
    width: 70px; }
    .scrabble-marathon .grid .letter-grid.letter-in-use, .word-chain .grid .letter-grid.letter-in-use {
      opacity: .2;
      pointer-events: none; }
    .scrabble-marathon .grid .letter-grid .letter-inner, .word-chain .grid .letter-grid .letter-inner {
      font-size: 30px; }
      .scrabble-marathon .grid .letter-grid .letter-inner:before, .word-chain .grid .letter-grid .letter-inner:before {
        width: 65px;
        height: 65px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-0, .word-chain .grid .letter-grid.letter-pos-0 {
      top: 0;
      left: 0px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-1, .word-chain .grid .letter-grid.letter-pos-1 {
      top: 0;
      left: 70px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-2, .word-chain .grid .letter-grid.letter-pos-2 {
      top: 0;
      left: 140px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-3, .word-chain .grid .letter-grid.letter-pos-3 {
      top: 0;
      left: 210px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-4, .word-chain .grid .letter-grid.letter-pos-4 {
      top: 0;
      left: 280px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-5, .word-chain .grid .letter-grid.letter-pos-5 {
      top: 0;
      left: 350px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-6, .word-chain .grid .letter-grid.letter-pos-6 {
      top: 0;
      left: 420px; }
    .scrabble-marathon .grid .letter-grid.letter-pos-7, .word-chain .grid .letter-grid.letter-pos-7 {
      top: 0;
      left: 490px; }
.scrabble-marathon .word-list-wrapper, .word-chain .word-list-wrapper {
  display: flex;
  height: 40vh; }
  .scrabble-marathon .word-list-wrapper .word-list, .word-chain .word-list-wrapper .word-list {
    padding: 0;
    overflow: hidden;
    margin-top: auto; }
    .scrabble-marathon .word-list-wrapper .word-list .word, .word-chain .word-list-wrapper .word-list .word {
      display: block; }
.scrabble-marathon .progress, .word-chain .progress {
  width: 400px;
  height: 5px;
  padding: 10px 0;
  position: relative; }
  .scrabble-marathon .progress .progress-bubble, .word-chain .progress .progress-bubble {
    height: 5px;
    background-color: #eeeced;
    box-sizing: border-box;
    border-right: 1px solid white; }
  .scrabble-marathon .progress .progress-bar, .word-chain .progress .progress-bar {
    position: absolute;
    background-color: #448AFF;
    width: 0;
    height: 5px;
    left: 0;
    transition: .4s ease; }
.scrabble-marathon .btns, .word-chain .btns {
  margin-top: 10px; }
@media screen and (max-width: 510px) {
  .scrabble-marathon .progress, .word-chain .progress {
    width: 80vw; }
  .scrabble-marathon .grid, .word-chain .grid {
    height: 40px; }
    .scrabble-marathon .grid .grid-wrapper, .word-chain .grid .grid-wrapper {
      width: 500px;
      height: 40px;
      display: flex;
      justify-content: center;
      transition: .4s ease; }
      .scrabble-marathon .grid .grid-wrapper.level-0, .word-chain .grid .grid-wrapper.level-0 {
        width: 160px; }
      .scrabble-marathon .grid .grid-wrapper.level-1, .word-chain .grid .grid-wrapper.level-1 {
        width: 200px; }
      .scrabble-marathon .grid .grid-wrapper.level-2, .word-chain .grid .grid-wrapper.level-2 {
        width: 240px; }
      .scrabble-marathon .grid .grid-wrapper.level-3, .word-chain .grid .grid-wrapper.level-3 {
        width: 280px; }
      .scrabble-marathon .grid .grid-wrapper.level-4, .word-chain .grid .grid-wrapper.level-4 {
        width: 320px; }
    .scrabble-marathon .grid .letter-grid, .word-chain .grid .letter-grid {
      height: 40px;
      width: 40px; }
      .scrabble-marathon .grid .letter-grid.letter-in-use, .word-chain .grid .letter-grid.letter-in-use {
        opacity: .2;
        pointer-events: none; }
      .scrabble-marathon .grid .letter-grid .letter-inner, .word-chain .grid .letter-grid .letter-inner {
        font-size: 20px; }
        .scrabble-marathon .grid .letter-grid .letter-inner:before, .word-chain .grid .letter-grid .letter-inner:before {
          width: 38px;
          height: 38px;
          left: 1px;
          top: 1px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-0, .word-chain .grid .letter-grid.letter-pos-0 {
        top: 0;
        left: 0px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-1, .word-chain .grid .letter-grid.letter-pos-1 {
        top: 0;
        left: 40px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-2, .word-chain .grid .letter-grid.letter-pos-2 {
        top: 0;
        left: 80px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-3, .word-chain .grid .letter-grid.letter-pos-3 {
        top: 0;
        left: 120px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-4, .word-chain .grid .letter-grid.letter-pos-4 {
        top: 0;
        left: 160px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-5, .word-chain .grid .letter-grid.letter-pos-5 {
        top: 0;
        left: 200px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-6, .word-chain .grid .letter-grid.letter-pos-6 {
        top: 0;
        left: 240px; }
      .scrabble-marathon .grid .letter-grid.letter-pos-7, .word-chain .grid .letter-grid.letter-pos-7 {
        top: 0;
        left: 280px; } }

.word-chain .letter.perishing {
  animation: fade-out 10.5s linear; }
.word-chain .grid .letter-grid {
  animation: fade-in .4s ease; }
.word-chain .flash-word {
  opacity: 0;
  top: -50px;
  position: absolute;
  animation: fade-in-up 3s ease;
  color: #FFC107; }

.sokoban-infinite .game-area .game-area-inner {
  padding-bottom: 0; }
.sokoban-infinite .grid-area {
  padding: 100px;
  position: relative; }
.sokoban-infinite .grid-wrapper {
  position: relative;
  box-shadow: 0 0 100px grey;
  overflow: hidden; }
.sokoban-infinite.blurred .non-player-wrapper {
  filter: blur(3px); }
.sokoban-infinite.blurred .player-wrapper {
  filter: blur(2px); }
.sokoban-infinite .non-player-wrapper, .sokoban-infinite .player-wrapper {
  transition: filter .4s linear; }
.sokoban-infinite .grid-gradient-cover {
  background: linear-gradient(to bottom right, #82B1FF 0%, #448AFF 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
.sokoban-infinite .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .sokoban-infinite .border:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    content: " "; }
  .sokoban-infinite .border.vertical:after {
    left: -2px;
    width: 4px; }
  .sokoban-infinite .border.horizontal:after {
    top: -2px;
    height: 4px; }
.sokoban-infinite .virtual-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: white;
  opacity: .5;
  transition: opacity 4s ease; }
  .sokoban-infinite .virtual-control.transparent {
    opacity: 0;
    pointer-events: auto !important; }
  .sokoban-infinite .virtual-control .control {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1; }
    .sokoban-infinite .virtual-control .control.left-right {
      flex-grow: 0;
      flex-shrink: 0; }
      .sokoban-infinite .virtual-control .control.left-right .btn {
        width: 50%;
        height: 100%; }
  .sokoban-infinite .virtual-control .btn {
    width: 100%;
    padding: 0; }
.sokoban-infinite .cell {
  width: 54px;
  height: 54px;
  position: absolute;
  transition: top .1s ease, left .1s ease, filter .8s ease;
  box-sizing: border-box;
  background: #fff; }
  .sokoban-infinite .cell.box {
    background: linear-gradient(to bottom right, #8BC34A, #4CAF50);
    filter: grayscale(100%);
    margin: 3px;
    width: 49px;
    height: 49px; }
    .sokoban-infinite .cell.box.completed {
      filter: none; }
      .sokoban-infinite .cell.box.completed:before, .sokoban-infinite .cell.box.completed:after {
        left: 25%;
        top: 25%;
        content: ' ';
        height: 50%;
        width: 50%;
        background: transparent;
        border: 4px solid white;
        border-radius: 50px; }
    .sokoban-infinite .cell.box:before, .sokoban-infinite .cell.box:after {
      position: absolute;
      top: 25%;
      left: 45%;
      content: ' ';
      height: 50%;
      width: 10%;
      transition: .4s ease;
      background-color: white;
      box-sizing: border-box; }
    .sokoban-infinite .cell.box:before {
      transform: rotate(45deg); }
    .sokoban-infinite .cell.box:after {
      transform: rotate(-45deg); }
  .sokoban-infinite .cell.wall {
    background: transparent; }
  .sokoban-infinite .cell.player {
    background: transparent; }
    .sokoban-infinite .cell.player:after {
      position: absolute;
      top: 30%;
      left: 30%;
      content: ' ';
      height: 40%;
      width: 40%;
      background-color: black;
      z-index: 1;
      transform: rotate(45deg); }
  .sokoban-infinite .cell.goal {
    background: white; }
    .sokoban-infinite .cell.goal:after {
      position: absolute;
      top: 35%;
      left: 35%;
      content: ' ';
      height: 30%;
      width: 30%;
      border-radius: 50%;
      background-color: lightgrey; }
  @media screen and (max-width: 510px) {
    .sokoban-infinite .cell {
      width: 30px;
      height: 30px; }
      .sokoban-infinite .cell.box {
        width: 24px;
        height: 24px; }
        .sokoban-infinite .cell.box.completed:before, .sokoban-infinite .cell.box.completed:after {
          border: 2px solid white; } }

/*# sourceMappingURL=App.css.map */
