$font: "Lato";

@import "base.scss";
@import url(https://fonts.googleapis.com/css?family=#{$font}:400,700);

$screen-break: 510px;
$rollback: cubic-bezier(0.18, 0.88, 0.32, 1.28);
$rollback-heavy: cubic-bezier(0.18, 0.88, 0.65, 1.5);

*:not(i) {
  font-family: $font, sans-serif;
}

body, html {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root, .App, .game-select, .game-list {
  width: 100%;
  height: 100%;
}

.game-select {
  background: $cp;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: transparent;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    height: 80px;
  }

  .game-list, .game-real {
    position: absolute;
    top: 0;
    transition: .2s ease;
    height: 100%;
    width: 100%;
  }

  .game-real {
    left: 100vw;
  }

  .game-list {
    position: relative;
    flex-direction: column;
    right: 0;

    .title, .game {
      position: relative;
      width: 450px;
      height: 80px;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 30px;
      border-radius: 7px;
      border: 4px white solid;
      margin: 2px;
      transition: .4s ease;
    }

    .title {
      border: none;
      font-size: 35px;
    }

    .game {
      cursor: pointer;

      &:hover {
        background: white;
        color: $cp;
      }
    }

    @media screen and (max-width: $screen-break) {

      .title, .game {
        box-sizing: border-box;
        width: 90vw;
        font-size: 22px;
      }

      .title {
        font-size: 35px;
      }
    }
  }

  &.in-game {
    .back {
      opacity: 1;
      pointer-events: auto;
    }

    .game-real {
      left: 0;
    }

    .game-list {
      right: 100vw;
    }
  }
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;

  header {
    width: 100%;
    text-align: right;
    background: $blue;
    height: 80px;
    color: white;
    font-size: 30px;
    transition: .4s ease;

    @media screen and (max-width: $screen-break) {
      font-size: 20px;
    }
  }

  .game-area {
    overflow: hidden;
    flex: 1 1 auto;
    position: relative;
    background: white;

    .game-area-inner {
      flex-direction: column;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }

  &.idle, &.ready {
    header {
      flex-direction: column;
      height: 100%;
    }

    .grid {
      pointer-events: none;
    }
  }

  &.idle {
    .timer {
      position: absolute;
      width: 0;
      margin: 0;
    }
  }

  &.ready {
    .timer {
      position: absolute;
      margin: 0;
      font-size: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &:before {
        content: "";
      }
    }

    .btns {
      left: 100vw;
    }

    .score {
      opacity: 0;
    }
  }

  .btn {
    color: $css;
    font-size: 20px;
    padding: 10px 20px;
  }

  .btns {
    position: relative;
    left: 0;
    transition: 1s ease;

    &.replay {
      margin-top: 50px;
    }
  }

  .letter-selected {
    width: 500px;
    height: 100px;
    background: $css;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
    transition: .2s ease;
    position: relative;

    .letter {
      animation: word-appear .2s $rollback;
    }
  }
}

.wordlink {
  &.not-valid {
    .letter-selected {
      background-color: $red;
    }
    .grid .selected {
      .letter-inner:before, .l, .lu, .u, .ru, .r, .rd, .d, .ld {
        background-color: $red;
      }
    }
  }
  &.valid {
    .letter-selected {
      background-color: $green;
    }
    .grid .selected {
      .letter-inner:before, .l, .lu, .u, .ru, .r, .rd, .d, .ld {
        background-color: $green;
      }
    }
  }

  @media screen and (max-width: $screen-break) {

    .letter-selected {
      height: 70px;
      font-size: 25px;
      width: 80%;
    }

    .grid {
      $grid-size: 60px;

      height: 5 * $grid-size;

      .grid-wrapper {
        width: 5 * $grid-size;
        height: 5 * $grid-size;
      }

      .letter-grid {
        width: $grid-size;
        height: $grid-size;
        font-size: 12px;
        padding: 0;

        .arrow {
          height: 4%;
          top: 48%;
        }

        &:after {
          right: 5px;
          bottom: 5px;
        }
      }

      .letter-inner {
        font-size: 30px;

        &:before {
          width: $grid-size - 5px;
          height: $grid-size - 5px;
        }
      }
    }
  }

}

$grid-size: 100px;

.grid {
  @keyframes grid-enter {
    from {
      margin-bottom: 100%;
    }

    to {
      margin-bottom: 0;
    }
  }

  .letter-prompt &, .scrabble-marathon &, .word-chain & {
    height: 3 * $grid-size;
    overflow: visible;

    .grid-wrapper {
      width: 3 * $grid-size;
      height: 3 * $grid-size;
      z-index: 5;
    }

    .letter-grid {
      pointer-events: auto;
      animation: none;
      transition: top .2s $rollback, left .2s $rollback, opacity .4s ease;
      top: 0;
      left: 0;

      &.letter-0 {
        opacity: 0;
        pointer-events: none;

        &:after {
          content: "0";
        }

        &.letter-in-use {
          opacity: .2;
        }
      }

      &.no-badge:after {
        display: none;
      }
    }

    @for $i from 0 through 2 {
      @for $j from 0 through 2 {
        .letter-position-3-3-#{3*$i+$j} {
          top: $i * $grid-size;
          left: $j * $grid-size;
        }
      }
    }

    .letter-inner {
      color: white;

      &:before {
        background-color: $darkgrey;
      }
    }
  }

  width: 100%;
  height: 5 * $grid-size;
  position: relative;
  overflow: hidden;
  user-select: none;

  .grid-wrapper {
    width: 5 * $grid-size;
    height: 5 * $grid-size;
    position: relative;
  }

  .letter-grid {
    position: absolute;
    box-sizing: border-box;
    width: $grid-size;
    height: $grid-size;
    transition: .4s ease;
    animation: grid-enter .4s ease;
    pointer-events: none;

    .arrow {
      display: block;
      content: "";
      background-color: transparent;
      z-index: 0;
      width: 100%;
      height: 8%;
      position: absolute;
      right: 50%;
      top: 46%;
      transform-origin: 100% 50%;

      &.l, &.lu, &.u, &.ru, &.r, &.rd, &.d, &.ld {
        background: $css;
        transition: background .2s ease;
      }

      &.lu {
        transform: rotate(45deg);
      }
      &.u {
        transform: rotate(90deg);
      }
      &.ru {
        transform: rotate(135deg);
      }
      &.r {
        transform: rotate(180deg);
      }
      &.rd {
        transform: rotate(225deg);
      }
      &.d {
        transform: rotate(-90deg);
      }
      &.ld {
        transform: rotate(-45deg);
      }
    }

    &:after {
      content: "1";
      color: white;
      z-index: 1;
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-weight: bold;
      pointer-events: none;
      animation: test .4s ease;
    }

    $point-2: ("l", "n", "r", 't', 'u', '2');
    $point-3: ('d', 'g', '3');
    $point-4: ('b', 'c', '4');
    $point-5: ('f', 'h', 'v', '5');
    $point-6: ('k', 'w', '6');
    $point-7: ('7');
    $point-8: ('x', 'j', '8');
    $point-9: ('9');
    $point-10: ('z', 'q', '10');

    @keyframes test {
      from {
        bottom: 50px;
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
    @keyframes test-2 {
      from {
        bottom: 50px;
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @each $i in $point-2 {
      &.letter-#{$i}:after {
        content: "2";
        animation: test-2 .4s ease;
      }
    }
    @each $i in $point-3 {
      &.letter-#{$i}:after {
        content: "3";
      }
    }
    @each $i in $point-4 {
      &.letter-#{$i}:after {
        content: "4";
        animation: test-2 .4s ease;
      }
    }
    @each $i in $point-5 {
      &.letter-#{$i}:after {
        content: "5";
      }
    }
    @each $i in $point-6 {
      &.letter-#{$i}:after {
        content: "6";
        animation: test-2 .4s ease;
      }
    }
    @each $i in $point-7 {
      &.letter-#{$i}:after {
        content: "7";
      }
    }
    @each $i in $point-8 {
      &.letter-#{$i}:after {
        content: "8";
        animation: test-2 .4s ease;
      }
    }
    @each $i in $point-9 {
      &.letter-#{$i}:after {
        content: "9";
      }
    }
    @each $i in $point-10 {
      &.letter-#{$i}:after {
        content: "10";
        animation: test-2 .4s ease;
      }
    }

    &.hover, &:active {
      :before {
        transform: scale(.95);
        background-color: $csl;
      }
    }

    &.selected {
      :before {
        background-color: $css;
      }
    }
  }

  .letter-inner {
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      background-color: $lightgrey;
      width: $grid-size - 5px;
      height: $grid-size - 5px;
      position: absolute;
      left: 2.5px;
      top: 2.5px;
      transition: .2s ease;
      pointer-events: none;
    }

    span {
      position: relative;
      pointer-events: none;
      z-index: 1;
    }
  }
}

.score {

  @keyframes score-fade-in-1 {
    from {
      bottom: -30px;
      opacity: 1;
    }

    to {
      bottom: 0px;
      opacity: 0;
    }
  }
  @keyframes score-fade-in-2 {
    from {
      bottom: -30px;
      opacity: 1;
    }

    to {
      bottom: 0px;
      opacity: 0;
    }
  }

  position: relative;

  &:before {
    content: "SCORE: ";
  }

  .difference-1 {
    animation: score-fade-in-1 2s ease;
  }
  .difference-2 {
    animation: score-fade-in-2 2s ease;
  }

  .difference {
    position: absolute;
    color: $amber;
    right: 0;
    bottom: 0;
    opacity: 0;

    &:before {
      content: "+";

    }
  }
}

.timer {
  margin-right: 50px;
  transition: .4s ease;
  overflow: hidden;

  &:before {
    content: 'TIME:\00a0';
  }
}

.letter-prompt, .scrabble-marathon, .word-chain {

  @keyframes wrong {
    50% {
      background: $red;
    }
  }

  @keyframes amber-bg {
    20%, 80% {
      background: $amber;
    }
  }

  @keyframes shaking {
    10%, 40%, 70% {
      transform: translateX(5px);
      opacity: 1;
    }

    25%, 55%, 85% {
      transform: translateX(-5px);
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .game-area-inner {
    flex-direction: column;
  }

  header {
    .prompt {
      text-transform: uppercase;
    }

    // To get it work, set animation time to be .7s
    @keyframes word-appear-delay-half-s {
      0%, 71.4% {
        transform: scale(0);
      }
    }

    // To get it work, set animation time to be 1.2s
    @keyframes word-appear-delay-1s {
      0%, 83.3% {
        transform: scale(0);
      }
    }

    .word {
      position: absolute;
      top: 50px;
      font-size: 40px;
      animation: word-appear-delay-half-s .7s $rollback-heavy;
    }

    .word-list {
      max-width: 80vw;
      margin-top: 50px;
      font-size: 20px;
      flex: none;
      font-weight: lighter;
      animation: word-appear-delay-1s 1.2s $rollback-heavy;
    }
  }

  .word-list {
    height: auto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: $screen-break;
    text-align: center;
    flex-wrap: wrap;

    @keyframes word-appear {
      from {
        transform: scale(.3);
      }
    }

    .word {
      padding: 0 20px;
      display: inline-block;
      animation: word-appear .2s $rollback-heavy;

      &.empty {
        letter-spacing: 5px;
        animation: none;
      }
    }
  }

  &.wrong .letter-selected {
    animation: wrong .3s ease;
  }

  &.shaking .letter-selected {
    animation: amber-bg 2s ease;

    .letter {
      animation: shaking 2s ease;
    }
  }

  @media screen and (max-width: $screen-break) {

    .word-list {
      font-size: 25px;
    }

    .letter-selected {
      height: 70px;
      font-size: 25px;
      width: 80%;
    }

    .scrabble-marathon, .word-chain {
      $grid-size: 40px;

      .grid {
        height: $grid-size;

        .grid-wrapper {
          width: 500px;
          height: $grid-size;
          display: flex;
          justify-content: center;
          transition: .4s ease;

          @for $i from 0 through 3 {
            &.level-#{$i} {
              width: $grid-size * ($i + 4);
            }
          }
        }

        .letter-grid {
          height: $grid-size;
          width: $grid-size;

          &.letter-in-use {
            opacity: .2;
            pointer-events: none;
          }

          .letter-inner {
            font-size: 30px;

            &:before {
              width: $grid-size - 5px;
              height: $grid-size - 5px;
            }
          }

          @for $i from 0 through 7 {
            &.letter-pos-#{$i} {
              top: 0;
              left: $i * $grid-size;
            }
          }
        }
      }
    }

    .grid {
      $grid-size: 60px;

      height: 3 * $grid-size;

      .grid-wrapper {
        width: 3 * $grid-size;
        height: 3 * $grid-size;
      }

      .letter-grid {
        width: $grid-size;
        height: $grid-size;
        font-size: 12px;

        .arrow {
          height: 4%;
          top: 48%;
        }

        &:after {
          right: 5px;
          bottom: 5px;
        }
      }

      @for $i from 0 through 2 {
        @for $j from 0 through 2 {
          .letter-position-3-3-#{3*$i+$j} {
            top: $i * $grid-size;
            left: $j * $grid-size;
          }
        }
      }

      .letter-inner {
        font-size: 30px;

        &:before {
          width: $grid-size - 5px;
          height: $grid-size - 5px;
        }
      }
    }
  }
}

.flex-bubble-wrap {
  flex: 1 1 auto;
}

.scrabble-marathon, .word-chain {
  $grid-size: 70px;

  .grid {
    height: $grid-size;

    .grid-wrapper {
      width: 500px;
      height: $grid-size;
      display: flex;
      justify-content: center;
      transition: .4s ease;

      @for $i from 0 through 4 {
        &.level-#{$i} {
          width: $grid-size * ($i + 4);
        }
      }
    }

    .letter-grid {
      height: $grid-size;
      width: $grid-size;

      &.letter-in-use {
        opacity: .2;
        pointer-events: none;
      }

      .letter-inner {
        font-size: 30px;

        &:before {
          width: $grid-size - 5px;
          height: $grid-size - 5px;
        }
      }

      @for $i from 0 through 7 {
        &.letter-pos-#{$i} {
          top: 0;
          left: $i * $grid-size;
        }
      }
    }
  }

  .word-list-wrapper {
    height: 50vh;
    position: relative;
    width: 100%;

    .word-list {
      max-height: 100%;
      box-sizing: border-box;
      padding: 20px 0;
      overflow: auto;
    }
  }

  .progress {
    width: 400px;
    height: 5px;
    padding: 10px 0;
    position: relative;

    .progress-bubble {
      height: 5px;
      background-color: $bg-grey;
      box-sizing: border-box;
      border-right: 1px solid white;
    }

    .progress-bar {
      position: absolute;
      background-color: $blue;
      width: 0;
      height: 5px;
      left: 0;
      transition: .4s ease;
    }
  }

  .btns {
    margin-top: 10px;
  }

  &.wrong .letter-selected {
    animation: wrong .3s ease;
  }

  @media screen and (max-width: $screen-break) {
    $grid-size: 40px;

    .progress {
      width: 80vw;
    }

    .grid {
      height: $grid-size;

      .grid-wrapper {
        width: 500px;
        height: $grid-size;
        display: flex;
        justify-content: center;
        transition: .4s ease;

        @for $i from 0 through 3 {
          &.level-#{$i} {
            width: $grid-size * ($i + 4);
          }
        }
      }

      .letter-grid {
        height: $grid-size;
        width: $grid-size;

        &.letter-in-use {
          opacity: .2;
          pointer-events: none;
        }

        .letter-inner {
          font-size: 20px;

          &:before {
            width: $grid-size - 2px;
            height: $grid-size - 2px;
            left: 1px;
            top: 1px;
          }
        }

        @for $i from 0 through 7 {
          &.letter-pos-#{$i} {
            top: 0;
            left: $i * $grid-size;
          }
        }
      }
    }
  }
}

.word-chain {
  .letter.perishing {
    animation: word-appear .2s $rollback, fade-out 10.5s linear;
  }
}

//-----------------------------
//
//html, body {
//  overflow: scroll;
//}
//
//a {
//  display: inline-block;
//}
//
//h2 {
//  font-family: monospace;
//}
//
//input, textarea {
//  padding: 0;
//  font-size: 30px;
//  background: lightgrey;
//}
